@charset "UTF-8";

* {
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: 400;
  overflow-x: hidden;
}

a {
  display: block;
  font-weight: 400;
  text-decoration: none;
}

img {
  display: block;
}

.background-wrapper {
  background-color: #313131;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header__wrapper {
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden;
}

.page-header__wrapper::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 2%;
  width: 96%;
  height: 1px;
  background-color: #a7c353;
}

.page-header__top {
  height: 6px;
  background-color: #a7c353;
}

.page-header__logo {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 12px 0 12px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666666;
}

.page-header__logo:hover {
  color: #a7c353;
  opacity: 0.8;
}

.page-header__logo-name {
  display: block;
  font-size: 26px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.page-header__logo-name:first-letter {
  font-size: 32px;
}

.page-header__logo-text {
  display: block;
  font-size: 12px;
  letter-spacing: 0.02em;
  text-align: center;
}

.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-list__link {
  display: block;
  padding: 22px 0 23px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #979797;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #e6e6e6;
}

.site-list__link:hover {
  color: #a7c353;
  opacity: 0.8;
}

.site-list__link--active {
  color: #ffffff;
  background-color: #a7c353;
  border: 0 none;
  border-top: 1px solid #a7c353;
}

.site-list__link--active:hover {
  color: #666666;
}

.page-main {
  margin-top: -2px;
}

.page-main__presentation-wrapper {
  padding: 40px 0 30px 0;
  background-color: #ffffff;
}

.page-main__connection-wrapper {
  padding: 35px 0 30px 0;
  border-bottom: 1px solid #3a3a3a;
}

/* Слайдер*/
.slick-slider {
  min-width: 0;
}

/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 7px;
}

.offers__wrapper {
  position: relative;
  padding-top: 1px;
  padding-bottom: 40px;
  background-color: #ffffff;
}

.offers__wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2%;
  width: 96%;
  height: 1px;
  background-color: #e2e2e2;
}

.offers__title {
  margin: 40px 0 40px 0;
  padding: 0;
  font-size: 22px;
  font-style: italic;
  line-height: 30.8px;
  text-align: center;
  color: #666666;
}

.offers__slider-title {
  display: none;
  position: absolute;
  bottom: 175px;
  right: 11%;
  z-index: 5;
  width: 350px;
  margin: 0;
  padding: 5px 0 5px 0;
  font-size: 22px;
  line-height: 30.8px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  background-color: #a7c353;
}

.offers__slider-description {
  display: none;
  position: absolute;
  bottom: 100px;
  right: 11%;
  z-index: 5;
  width: 350px;
  margin: 0;
  padding: 10px 0 10px 10px;
  font-size: 13px;
  line-height: 15.6px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #999999;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #ffffff;
}

.offers__title br {
  display: none;
}

.offers__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
}

.offers__slider-list {
  position: relative;
  margin: 0;
  padding: 0 10px 35px 10px;
}

.offers__image {
  margin: 0 auto;
}

.offers__slider-list .slick-arrow {
  position: absolute;
  top: 37%;
  z-index: 10;
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
  border: 2px solid #a7c353;
  border-radius: 50%;
  outline: none;
}

.offers__slider-list .slick-arrow:hover {
  opacity: 0.8;
}

.offers__slider-list .slick-arrow:focus,
.offers__slider-list .slick-arrow:active {
  opacity: 0.6;
}

.offers__slider-list .slick-arrow.slick-prev {
  left: 3%;
  background: url("../img/1/arrow_l.svg") center/30% no-repeat;
  background-color: #000000;
}

.offers__slider-list .slick-arrow.slick-next {
  right: 3%;
  background: url("../img/1/arrow_r.svg") center/30% no-repeat;
  background-color: #000000;
}

.offers__slider-list .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.offers__slider-list .slick-dots li {
  margin-right: 25px;
}

.offers__slider-list .slick-dots li:last-child {
  margin-right: 0;
}

.offers__slider-list .slick-dots button {
  width: 15px;
  height: 15px;
  margin: 0;
  padding: 0;
  font-size: 0;
  background-color: #a7c353;
  border-radius: 50%;
  border: 0 none;
  outline: none;
}

.offers__slider-list .slick-dots button:hover {
  opacity: 0.8;
}

.offers__slider-list .slick-dots button:focus,
.offers__slider-list .slick-dots button:active {
  opacity: 0.6;
}

.offers__slider-list .slick-dots li.slick-active button {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 2px solid #a7c353;
}

.description {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.description__title {
  margin: 0;
  margin-bottom: 30px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
}

.description__text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #999999;
}

.description__image {
  width: 270px;
  height: 140px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 0px 0px 4px #ffffff, 0px 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 0px 4px #ffffff, 0px 0px 0px 5px #cccccc;
}

.description__link {
  font-size: 13px;
  line-height: 13px;
  color: #a7c353;
  letter-spacing: 0.02em;
  text-align: right;
}

.description__link:hover {
  color: #999999;
}

.services {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.services__main-title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  padding-left: 80px;
  margin-bottom: 14px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.services__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 64px;
  height: 64px;
}

.services__item:last-child {
  margin-bottom: 7px;
}

.services__item--leaf::before {
  background: url(../img/1/services-leaf@1x.png) no-repeat;
  background-color: #a7c353;
  background-position: center;
}

.services__item--drink::before {
  background: url(../img/1/services-drink@1x.png) no-repeat;
  background-color: #a7c353;
  background-position: center;
}

.services__item--food::before {
  background: url(../img/1/services-food@1x.png) no-repeat;
  background-color: #a7c353;
  background-position: center;
}

.services__item--clock::before {
  background: url(../img/1/services-clock@1x.png) no-repeat;
  background-color: #a7c353;
  background-position: center;
}

.services__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #666666;
}

.services__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #999999;
}

.services__link {
  font-size: 13px;
  line-height: 13px;
  color: #a7c353;
  letter-spacing: 0.02em;
  text-align: right;
}

.services__link:hover {
  color: #999999;
}

.feedback {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.feedback__main-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  color: #666666;
}

.feedback__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.feedback__item {
  position: relative;
}

.feedback__item::before {
  content: " ";
  position: absolute;
  top: -15px;
  left: 0;
  width: 57px;
  height: 50px;
  background: url(../img/1/quotes.svg) no-repeat;
  background-position: center;
}

.feedback__item:first-child {
  margin-bottom: 30px;
}

.feedback__title {
  position: relative;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 65px;
  font-size: 16px;
  line-height: 19px;
  color: #666666;
}

.feedback__text {
  margin: 0;
  margin-bottom: 5px;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #999999;
}

.feedback__link {
  font-size: 13px;
  line-height: 13px;
  color: #a7c353;
  letter-spacing: 0.02em;
  text-align: right;
}

.feedback__link:hover {
  color: #999999;
}

.company {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.company__main-title {
  margin: 0;
  margin-bottom: 15px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3a;
}

.company__address {
  margin-bottom: 15px;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.04em;
  color: #999999;
}

.company__tel,
.company__fax,
.company__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 19px;
  color: #999999;
}

.company__mail {
  margin-bottom: 15px;
}

.company__mail a {
  color: #a7c353;
}

.company__mail a:hover {
  opacity: 0.8;
  color: #999999;
}

.company__link {
  margin-left: 5px;
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #999999;
}

.company__link:hover {
  opacity: 0.8;
  color: #a7c353;
}

.company__hours {
  font-size: 12px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #999999;
}

.company__hours span:first-child {
  font-weight: 700;
}

.social {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.social__main-title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3a;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__item {
  border-bottom: 1px solid #3a3a3a;
}

.social__link {
  position: relative;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  letter-spacing: 0.02em;
  color: #a7c353;
}

.social__link::after {
  content: " ";
  position: absolute;
  top: 15px;
  left: -6px;
  width: 30px;
  height: 30px;
  background-color: #383838;
  border-radius: 50%;
}

.social__link:hover {
  opacity: 0.8;
  color: #999999;
}

.social__icon {
  position: relative;
  z-index: 5;
  width: 20px;
  height: 20px;
  margin-right: 17px;
  fill: #ffffff;
}

.blog {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.blog__main-title {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3a;
}

.blog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.blog__item:first-child {
  margin-bottom: 15px;
}

.blog__title {
  margin: 0;
  margin-bottom: 3px;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.04em;
  color: #999999;
}

.blog__text,
.blog__text-top {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
}

.blog__text-top {
  margin-bottom: 5px;
}

.blog__text {
  margin-bottom: 12px;
}

.blog__link {
  font-size: 12px;
  line-height: 14.4px;
  color: #a7c353;
  text-align: right;
}

.blog__link:hover {
  opacity: 0.8;
  color: #999999;
}

.contact {
  width: 225px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.contact__main-title {
  margin: 0;
  margin-bottom: 20px;
  padding-bottom: 15px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #ffffff;
  border-bottom: 1px solid #3a3a3a;
}

.contact__fieldset {
  margin: 0;
  padding: 0;
  border: 0 none;
}

.contact__input-text,
.contact__textarea {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: 400;
  border: 0 none;
  border-radius: 5px;
  background-color: #3a3a3a;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: thin;
}

.contact__input-text:hover,
.contact__textarea:hover {
  border: 1px solid #cdcdcd;
}

.contact__input-text:active,
.contact__input-text:focus,
.contact__textarea:active,
.contact__textarea:focus {
  outline: thin;
  border: 2px solid #444444;
}

.contact__input-text {
  margin-bottom: 10px;
  padding: 9px 0 9px 20px;
}

.contact__textarea {
  margin-bottom: 6px;
  padding: 6px 0 70px 20px;
}

.contact__button {
  width: 80px;
  padding: 6px 0 6px 0;
  font-family: "Georgia", "Times New Roman", serif;
  font-size: 13px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #a7c353;
  border: 0 none;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contact__button:hover {
  opacity: 0.8;
  color: #999999;
}

.contact__button:focus,
.contact__button:active {
  color: #999999;
  opacity: 0.4;
}

.page-footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 0 20px;
}

.page-footer__copyright,
.page-footer__template {
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.04em;
  color: #999999;
  text-align: center;
}

.page-footer__copyright {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .page-header__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-top: 6px solid #a7c353;
  }

  .page-header__logo {
    display: block;
    width: 165px;
    margin: 0;
    margin-left: 20px;
    padding: 25px 0 25px 0;
  }

  .page-header__logo-name {
    text-align: left;
  }

  .page-header__logo-text {
    text-align: left;
  }

  .main-nav {
    width: 555px;
    margin-left: auto;
  }

  .site-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .site-list__link {
    padding: 45px 10px 27px 10px;
    font-size: 13px;
  }

  .offers__title br {
    display: block;
  }

  .offers__slider-list {
    position: relative;
    margin: 0;
    padding: 0 60px 30px 60px;
  }

  .offers__image {
    width: 95%;
  }

  .page-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .page-footer__copyright {
    margin: 0;
  }

  .page-footer__template {
    margin-left: auto;
  }
}

@media (min-width: 1000px) {
  .main-nav {
    width: 655px;
  }

  .site-list__link {
    padding: 45px 20px 27px 20px;
    font-size: 13px;
  }

  .offers__slider-title {
    display: block;
  }

  .offers__slider-description {
    display: block;
  }

  .offers__slider-list {
    padding: 0;
  }

  .offers__item {
    width: 920px;
    height: 350px;
  }

  .offers__image {
    width: 920px;
    height: 350px;
  }

  .offers__slider-list .slick-dots li {
    margin-right: 5px;
  }

  .page-main__presentation-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 40px 0 0 0;
  }

  .page-main__connection-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding: 35px 0 5px 0;
  }

  .description {
    margin-bottom: 40px;
  }

  .services {
    margin-bottom: 40px;
  }

  .feedback {
    margin-bottom: 40px;
  }

  .company {
    margin-bottom: 20px;
  }

  .social {
    margin-bottom: 20px;
  }

  .blog {
    margin-bottom: 20px;
  }

  .comments {
    margin-bottom: 20px;
  }
}
